.escalate-grievance-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.escalate-popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
}

.escalate-popup-content h3 {
  margin-bottom: 20px;
}

.escalate-popup-content textarea {
  width: 100%;
  margin-bottom: 20px;
}

.escalate-popup-buttons {
  display: flex;
  justify-content: space-between;
}
