.loader-container-gh {
  margin: auto;
}

.grievance-history-container {
  padding: 20px;
}

.grievance-history-h2 {
  margin: 10px;
  font-size: 28px;
  font-weight: 400;
}

.roadmap-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.roadmap {
  position: relative;
  padding: 20px;
  width: 700px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: #656465;
  border-radius: 20px;
  max-height: 400px;
  overflow-y: auto;
}

.roadmap::-webkit-scrollbar {
  display: none;
}

.roadmap-item {
  margin-left: 14%;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  position: relative;
  cursor: pointer;
}
@keyframes drawLine {
  from {
    height: 0;
  }
  to {
    height: 2.7rem; /* Final height of the line */
  }
}
@keyframes slideInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.roadmap-item::before {
  content: "";
  position: absolute;
  left: 25px; /* Center the line with the icon */
  top: -2.1rem; /* Adjust to position the line correctly */
  width: 2px;
  height: 2.7rem; /* Ensure it spans correctly */
  background-color: var(--blue);
  z-index: 99;
  animation: drawLine 1s ease-out forwards;
}

.roadmap-item:first-child::before {
  display: none; /* Hide the line for the first item */
}

.roadmap-icon {
  border: 6px double darkgrey;
  border-style: groove;
  display: flex;
  align-items: center;
  width: 50px;
  height: 50px;
  padding: 6px;
  border-radius: 50%;
  position: relative;
}

.roadmap-icon img {
  width: 100%;
  height: 100%;
}

.roadmap-icon svg {
  width: 100%;
  height: 100%;
}

.red {
  color: red;
}

.orange {
  color: orange;
}

.lightpink {
  color: #ec73e6;
}

.green {
  color: #14e74d;
}

.roadmap-content {
  max-width: 400px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 9px;
  background-color: #ffff;
  animation: slideInFromTop 1s ease-in-out;
}

.history-date {
  font-size: 12px;
  display: flex;
  justify-content: flex-end;
  margin-right: 5px;
  margin-top: 7px;
}

.grievance-history-header {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.grievance-history-header h2 {
  color: red;
  display: flex;
  position: relative;
  z-index: -1;
  text-align: center;
}

.go-back1 {
  margin-top: 20px;
  background: rgb(78, 78, 78);
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  width: 100%;
  text-align: center;
}

.popup-content h3 {
  margin-bottom: 10px;
}

.popup-content p {
  margin-bottom: 10px;
}

.popup-content ul {
  list-style: none;
  padding: 0;
}

.popup-content ul li {
  margin-bottom: 5px;
}

.popup-content button {
  margin-top: 20px;
  padding: 10px 20px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.popup-content button:hover {
  background: #0056b3;
}

.submit-button,
.cancel-button {
  padding: 4px;
  margin-right: 5px;
  min-width: 150px;
}

.provide-feeback-btn {
  margin-right: 10px;
}

.provide-feedback-actions-btns {
  display: flex;
  align-items: center;
  justify-content: center;
}

.history-title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: auto;
}

@media screen and (max-width: 650px) {
  .roadmap {
    width: 100%;
    padding: 10px;
  }
  .roadmap-content {
    font-size: 14px;
    max-width: 250px;
  }
  .history-date {
    font-size: 12px;
  }
  .roadmap-item {
    margin-left: 0px;
  }
  .grievance-history-container {
    padding: 0px;
  }
  .grievance-history-header h2 {
    font-size: 25.1px;
  }
}

@media screen and (min-width: 472px) and (max-width: 649px) {
  .roadmap-content {
    max-width: 320px;
  }
  .roadmap-item {
    margin-left: 30px;
  }
}

@media screen and (max-width: 370px) {
  .roadmap {
    width: 100%;
    padding: 10px;
  }
  .grievance-history-container {
    padding: 0px;
  }
  .roadmap-content {
    font-size: 12px;
  }
  .roadmap-item {
    margin-left: 0px;
  }
  .go-back1 {
    font-size: 12px;
  }
  .history-date {
    font-size: 10px;
  }
  .grievance-history-header h2 {
    font-size: 22px;
  }
  .roadmap-content {
    max-width: 238px;
  }
}
