.grievance-history-container {
  padding: 20px;
}

.grievance-history-h2 {
  margin: 15px;
}

.roadmap-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.roadmap {
  position: relative;
  padding: 20px;
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: #dedade;
  border-radius: 20px;
  max-height: 450px;
  overflow-x: auto;
}

.roadmap::-webkit-scrollbar {
  display: none;
}

.roadmap-item {
  margin-left: 14%;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  position: relative;
}
@keyframes drawLine {
  from {
    height: 0;
  }
  to {
    height: 2.7rem; /* Final height of the line */
  }
}

.roadmap-item::before {
  content: "";
  position: absolute;
  left: 25px; /* Center the line with the icon */
  top: -2.1rem; /* Adjust to position the line correctly */
  width: 2px;
  height: 2.8rem; /* Ensure it spans correctly */
  background-color: var(--blue);
  z-index: 99;
  animation: drawLine 1s ease-out forwards;
}

.roadmap-item:first-child::before {
  display: none; /* Hide the line for the first item */
}

.roadmap-icon {
  border: 6px double darkgrey;
  border-style: groove;
  display: flex;
  align-items: center;
  width: 50px;
  height: 50px;
  padding: 6px;
  border-radius: 50%;
  position: relative;
}

.roadmap-icon img {
  width: 100%;
  height: 100%;
}

.roadmap-icon svg {
  width: 100%;
  height: 100%;
}

.red {
  color: red;
}

.orange {
  color: orange;
}

.lightpink {
  color: #ec73e6;
}

.green {
  color: #14e74d;
}

.roadmap-content {
  max-width: 400px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 9px;
  background-color: #ffff;
}

.history-date {
  font-size: 12px;
  display: flex;
  justify-content: flex-end;
  margin-right: 5px;
  margin-top: 7px;
}

@media screen and (max-width: 650px) {
  .roadmap {
    width: 100%;
  }
  .roadmap-content {
    font-size: 14px;
  }
  .history-date {
    font-size: 12px;
  }
}

@media screen and (max-width: 500px) {
  .roadmap {
    width: 100%;
  }
  .roadmap-content {
    font-size: 12px;
  }
  .roadmap-item {
    margin-left: 0px;
  }
  .go-dashboard {
    font-size: 12px;
  }
  .history-date {
    font-size: 10px;
  }
}
